.button_wrapper{
    text-align:center;
}

.button{
    width:30%;
    padding:10px;
    font-size:30px;
    /* margin-left:10%;
    margin-right:10% */
}

.tile{
	width: 80px;
	height: 80px;
	font-size: 60px;
}

.gameBoard{
	display: none;
}

.center{
	margin: 0 auto;
}